<!DOCTYPE html>
<html lang="en">
<head>
    <title>W3.CSS Template</title>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css"/>
    <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Raleway"
    />
    <link
            rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link href="{{ url_for('static', filename='css/userPage.css') }}" rel="stylesheet"/>
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
    <div class="w3-bar w3-white w3-card" id="myNavbar">
        <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button">Log Out</a>
        <a href="{{ url_for('home') }}" class="w3-bar-item w3-button w3-wide">Goya TC</a>
        <!-- Right-sided navbar links -->
        <div class="w3-dropdown-hover w3-right w3-hide-small">
            <button class="w3-button">Dropdown</button>
            <div class="w3-dropdown-content w3-bar-block w3-card-4">
                <a href="#" class="w3-bar-item w3-button" onclick="openModal()"
                >Add exam</a
                >
                <a href="{{ url_for('logout') }}" class="w3-bar-item w3-button">Log Out</a>
            </div>
        </div>
        <!-- Hide right-floated links on small screens and replace them with a menu icon -->
        <a
                href="javascript:void(0)"
                class="w3-bar-item w3-button w3-right w3-hide-large w3-hide-medium"
                onclick="w3_open()"
        >
            <i class="fa fa-bars"></i>
        </a>
    </div>
</div>

<!-- Header with full-height image -->
<header>
    <div class="w3-container w3-padding-64">
        <h2>Exam Form</h2>
        <form>
            <p>What is the capital of France?</p>
            <label>
                <input type="checkbox" name="answer" value="paris"/>
                Paris
            </label>

            <label>
                <input type="checkbox" name="answer" value="london"/>
                London
            </label>

            <label>
                <input type="checkbox" name="answer" value="berlin"/>
                Berlin
            </label>

            <label>
                <input type="checkbox" name="answer" value="madrid"/>
                Madrid
            </label>
        </form>
        <form>
            <p>What is the capital of France?</p>
            <label>
                <input type="checkbox" name="answer" value="paris"/>
                Paris
            </label>

            <label>
                <input type="checkbox" name="answer" value="london"/>
                London
            </label>

            <label>
                <input type="checkbox" name="answer" value="berlin"/>
                Berlin
            </label>

            <label>
                <input type="checkbox" name="answer" value="madrid"/>
                Madrid
            </label>
        </form>
        <form>
            <p>What is the capital of France?</p>
            <label>
                <input type="checkbox" name="answer" value="paris"/>
                Paris
            </label>

            <label>
                <input type="checkbox" name="answer" value="london"/>
                London
            </label>

            <label>
                <input type="checkbox" name="answer" value="berlin"/>
                Berlin
            </label>

            <label>
                <input type="checkbox" name="answer" value="madrid"/>
                Madrid
            </label>
        </form>

        <button type="submit" class="w3-button button_color">
            Submit Exam
        </button>
    </div>
</header>

<!-- The Modal -->
<div id="addExamModal" class="w3-modal">
    <div class="w3-modal-content">
        <header class="w3-container w3-modal-header">
          <span onclick="closeModal()" class="w3-button w3-modal-close"
          >&times;</span
          >

            <h2>Add Exam</h2>
        </header>
        <div class="w3-modal-body">
            <form>
                <label for="examName">Exam Name:</label>
                <input
                        type="text"
                        id="examName"
                        name="examName"
                        class="w3-input w3-border w3-margin-bottom"
                />

                <label for="examFile">Exam File:</label>
                <input
                        type="file"
                        id="examFile"
                        name="examFile"
                        class="w3-input w3-border"
                />
            </form>
        </div>
        <div class="w3-modal-footer">
            <button type="button" class="w3-modal-button" onclick="closeModal()">
                Cancel
            </button>
            <button type="submit" class="w3-modal-button">Add Exam</button>
        </div>
    </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64">
    <a href="#home" class="w3-button w3-light-grey">
        <i class="fa fa-arrow-up w3-margin-right"></i>To the top
    </a>
    <div class="w3-xlarge w3-section">
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-instagram w3-hover-opacity"></i>
        <i class="fa fa-snapchat w3-hover-opacity"></i>
        <i class="fa fa-pinterest-p w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>
    </div>
</footer>

<!-- JavaScript functions -->
<script>
    function openModal() {
      document.getElementById('addExamModal').style.display = 'block';
    }

    function closeModal() {
      document.getElementById('addExamModal').style.display = 'none';
    }
</script>
</body>
</html>
